%html
  %head
    %title #{@title ? @title : "Something Wicked This Way Codes"} 
    = stylesheet_tag 'http://fonts.googleapis.com/css?family=Metrophobic'
    = stylesheet_tag 'stylesheets/layout'
  %body
    #page
      = partial :header
      = yield
      = partial :footer
